body { margin: 0; margin-top:0 ; padding:0;}

._dash-undo-redo {
  display: none;
}
.phrases_div {
    { margin: 0; margin-top:0 ; padding: 0;}
}

.github { 
  float:right;
}

.cluster_dropdown {
    width: 75%; margin-left: 1%;
}